<div class="container">
    <div class="img-container">
        <img src="../../../assets/angular-icon-seeklogo.svg" alt="Angular-17-logo">
    </div>
  <div class="text-container">
    <p>
        This Angular project uses the
        <a href="https://angular.io/guide/router">Angular Router</a> to navigate
        between different <a href="https://angular.io/guide/component-overview">components</a> like <i>home</i> and <i>about</i>. The
        <a href="https://angular.io/guide/http">HTTP client</a> is also used to
        fetch data from a REST API. This HTTP client is injected into the service 
        that fetches the data and therefore it is used too in the component that 
        renders the data.
        <a href="https://angular.io/guide/dependency-injection"
          >Angular dependency injection</a
        >
        is used to inject the HTTP client service into the component. The views are
        rendered using the
        <a href="https://angular.io/api/common/NgIf">NgIf</a> directive, now known
        as <a href="https://blog.angular-university.io/angular-if/">&#64;If</a>. The
        <a href="https://github.com/angular/angular-cli">Angular CLI</a> is used to
        build and test this project.
      </p>
  </div>
</div>
