<div class="container" style="flex-direction: row-reverse;">
    <h1>Welcome to My Favorite Animes, here you can find and add your favorite <b style="background-image: linear-gradient(to right, #eb25ca, #eb1870);background-clip: text; -webkit-text-fill-color: transparent;">anime</b></h1>
   
</div>
<div class="container">
    <p style="width: 50%; text-align: justify;">This is an anime site where you can add your favorite animes linked to an account and soon with AI integration you could get recommendation based on your favorite animes.
    Create an account and start adding your favorite animes, and soon you will be able to get recommendation based on your favorite animes.</p>
    <img #gif src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExam9tajBtM21xamQxbjlpYXhia2J5NTRlZTdiYTlnMDkxZHNhZngxNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/R548B8WxpUTsI/giphy.gif" alt="">
</div>

<div class="container" style="flex-direction: row-reverse;">
    <p >I've been working hard on this project and trying to make it better</p>
    <img src="https://giffiles.alphacoders.com/219/219081.gif" alt="">
</div>